nav.nav
    button#home.nav__btn
        img(src='img/blocks/nav/home.svg').nav__img
    button.nav__btn
        img(src='img/blocks/nav/folder.svg').nav__img
    button.nav__btn
        img(src='img/blocks/nav/post.svg').nav__img
    a(href='https://t.me/cumry_3_5').nav__link.nav__btn
        img(src='img/blocks/nav/telegram.svg').nav__img
    