nav.nav
    button#home.nav__btn
        include home__icon
    button.nav__btn
        include folder__icon
    button.nav__btn
        include post__icon
    a(href='https://t.me/cumry_3_5').nav__link
        include telegram__icon