.contact-me(style="display: none;")
    h2.contact-me__text CONTACT ME
    form.contact-me__form
    .contact-me__wrap
        input.contact-me__input.contact-me__input_w_48(type="text" placeholder='Name')
        input.contact-me__input.contact-me__input_w_48(type="E-mail" placeholder='Email')
    input.contact-me__input(type="text" placeholder='Subject')
    textarea.contact-me__input.contact-me__input_type_area(name="", cols="30", rows="10" placeholder='Message')
    button.contact-me__button Send Message