.about-me
    .about-me__wrapper
        .about-me__wrap
            .about-me__inner
                h2.about-me__name Ilya Olkhovsky
                p.about-me__text Trainee Front-End Developer
        a.about-me__link